<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
        <suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/zeyneperoglu/IdeaProjects/ZeynepErogluSelenium">
        <parameter name="browser" value="chrome"/> <!-- Burada tarayıcı seçimi yapılır -->
        <classes>
            <class name="tests.InsiderTest"><methods><include name="testInsiderWebsite"/>
        </methods>
        </class>
        </classes>
    </test>
</suite>